documentation/Application Systems/Temperature/temperature_provider.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~  Copyright (c) 2018 AITIA International Inc.
  ~
  ~  This work is part of the Productive 4.0 innovation project, which receives grants from the
  ~  European Commissions H2020 research and innovation programme, ECSEL Joint Undertaking
  ~  (project no. 737459), the free state of Saxony, the German Federal Ministry of Education and
  ~  national funding authorities from involved countries.
  -->

<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 2.23.1 2016-06-09 18:05:47"/>
  <doc xmlns:jersey="http://jersey.java.net/"
    jersey:hint="This is simplified WADL with user and core resources only. To get full WADL with extended resources use the query parameter detail. Link: http://10.0.0.82:8460/application.wadl?detail=true"/>
  <grammars/>
  <resources base="http://10.0.0.82:8460/">
    <resource path="temperature">
      <method id="getIt" name="GET">
        <request>
          <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="token" style="query" type="xs:string"/>
          <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="signature" style="query" type="xs:string"/>
        </request>
        <response>
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
  </resources>
</application>