documentation/Gatekeeper/gatekeeper_internal.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 2.23.1 2016-06-09 18:05:47"/>
  <doc xmlns:jersey="http://jersey.java.net/"
    jersey:hint="This is simplified WADL with user and core resources only. To get full WADL with extended resources use the query parameter detail. Link: http://10.0.0.82:8446/application.wadl?detail=true"/>
  <grammars>
    <include href="application.wadl/xsd0.xsd">
      <doc title="Generated" xml:lang="en"/>
    </include>
  </grammars>
  <resources base="http://10.0.0.82:8446/">
    <resource path="gatekeeper">
      <method id="getIt" name="GET">
        <response>
          <representation mediaType="text/plain"/>
        </response>
      </method>
      <resource path="gsd_poll">
        <method id="GSDPoll" name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="icn_proposal">
        <method id="ICNProposal" name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="gatekeeper/mgmt">
      <method id="getIt" name="GET">
        <response>
          <representation mediaType="text/plain"/>
        </response>
      </method>
      <resource path="neighborhood/operator/{operator}/cloudname/{cloudName}">
        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="cloudName" style="template" type="xs:string"/>
        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="operator" style="template" type="xs:string"/>
        <method id="deleteNeighborCloud" name="DELETE">
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
        <method id="getNeighborCloud" name="GET">
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="neighborhood">
        <method id="getAllNeighborClouds" name="GET">
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
        <method id="addNeighborClouds" name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
        <method id="updateNeighborCloud" name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="brokers/address/{address}">
        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="address" style="template" type="xs:string"/>
        <method id="getBrokerByAddress" name="GET">
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="brokers/address/{address}/port/{port}">
        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="address" style="template" type="xs:string"/>
        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="port" style="template" type="xs:int"/>
        <method id="getBrokerByAddressAndPort" name="GET">
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="brokers/brokername/{brokerName}">
        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="brokerName" style="template" type="xs:string"/>
        <method id="getBrokerByName" name="GET">
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
        <method id="deleteBroker" name="DELETE">
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="brokers">
        <method id="addBrokers" name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
        <method id="getAllBrokers" name="GET">
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
        <method id="updateBroker" name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
  </resources>
</application>