documentation/EventHandler/event_handler.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~  Copyright (c) 2018 AITIA International Inc.
  ~
  ~  This work is part of the Productive 4.0 innovation project, which receives grants from the
  ~  European Commissions H2020 research and innovation programme, ECSEL Joint Undertaking
  ~  (project no. 737459), the free state of Saxony, the German Federal Ministry of Education and
  ~  national funding authorities from involved countries.
  -->

<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 2.23.1 2016-06-09 18:05:47"/>
  <doc xmlns:jersey="http://jersey.java.net/"
    jersey:hint="This is simplified WADL with user and core resources only. To get full WADL with extended resources use the query parameter detail. Link: http://10.0.0.82:8454/application.wadl?detail=true"/>
  <grammars/>
  <resources base="http://10.0.0.82:8454/">
    <resource path="eventhandler">
      <method id="getIt" name="GET">
        <response>
          <representation mediaType="text/plain"/>
        </response>
      </method>
      <resource path="publish">
        <method id="publishEvent" name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="subscription/type/{eventType}/consumer/{consumerName}">
        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="eventType" style="template" type="xs:string"/>
        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="consumerName" style="template" type="xs:string"/>
        <method id="unsubscribe" name="DELETE">
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="subscription">
        <method id="unsubscribe" name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
        <method id="subscribe" name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
  </resources>
</application>